.App {
    margin: 100px;
}
h1{
    
    text-align: center;
}
.remove {
    float: right;
    border-radius: 55%;
}
.mark {
    margin-right: 30px;
  
}

#remove:hover{
    background-color:rgb(225, 20, 20);
    border:none;
  
}